@model Entity.Summary
    <h2>Component id : @ViewBag.ComponentId </h2>

<div class="row col-md-12">
    <div class="col-md-6">Title</div>
    <div class="col-md-6">@Model.Title</div>
</div>
<div class="row col-md-12">
    <div class="col-md-6">Description</div>
    <div class="col-md-6">@Model.Description</div>
</div>